<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waisapps.lichessscheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.LichessScheduler">
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.LichessScheduler.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayersActivity"
            android:label="Players" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.LichessScheduler.NoActionBar" />
        <activity
            android:name=".ScheduleActivity"
            android:label="View Schedule" />
        <activity
            android:name=".EditActivity"
            android:label="New Tournament" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.LichessScheduler.NoActionBar"/>
        <activity
            android:name=".NotifyActivity"
            android:label="Create Notifications" />
    </application>

</manifest>